{% extends "base.html" %}

{% block content %}
<div class="container d-flex">
    <form action="" method="post">
        <h3>Đổi mật khẩu</h3>
        {{ form.hidden_tag() }}
        {{ form.old_password(size=64, class="form-control mb-2", placeholder="Mật khẩu cũ") }}
        {% for error in form.old_password.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        {{ form.new_password(size=64, class="form-control mb-2", placeholder="Mật khẩu mới") }}
        {% for error in form.new_password.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        {{ form.new_password2(size=64, class="form-control mb-2", placeholder="Xác nhận mật khẩu mới") }}
        {% for error in form.new_password2.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        {{ form.submit(class="btn btn-sm btn-primary mt-3", style="width: 100px") }}
    </form>
</div>
{% endblock %}