{% extends "base.html" %}

{% block content %}
<div class="container d-flex">
    <form action="" method="post">
        <h3>Đặt lại mật khẩu</h3>
        {{ form.hidden_tag() }}
        {{ form.password(size=64, class="form-control mb-2", placeholder="Mật khẩu mới") }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        {{ form.password2(size=64, class="form-control mb-2", placeholder="Xác nhận mật khẩu mới") }}
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        {{ form.submit(class="btn btn-sm btn-primary mt-3", style="width: 100px") }}
    </form>
</div>
{% endblock %}