{% extends "base.html" %}

{% block content %}
<div id="load_data_notice" style="display: block; height: 50px">
    <img src="/static/loading.gif" alt="">Đang tải dữ liệu. Vui lòng đợi trong giây lát!
</div>
<div class="row w-100" id="content">
  <div class="col-2">
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-tabs"
      id="v-tabs-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"
        id="nhap_lieu"
        data-mdb-toggle="tab"
        href="#nhap_lieu_c"
        role="tab"
        aria-controls="nhap_lieu_c"
        aria-selected="true"
        >0. Nhập dữ liệu</a
      >
      <a
        class="nav-link"
        id="thuoc"
        data-mdb-toggle="tab"
        href="#thuoc_c"
        role="tab"
        aria-controls="thuoc_c"
        aria-selected="false"
        >1. Theo Thuốc</a
      >
      <a
        class="nav-link"
        id="nhom_thau"
        data-mdb-toggle="tab"
        href="#nhom_thau_c"
        role="tab"
        aria-controls="nhom_thau_c"
        aria-selected="false"
        >2. Theo Nhóm Thầu</a
      >
      <a
        class="nav-link"
        id="nhom_duoc_ly"
        data-mdb-toggle="tab"
        href="#nhom_duoc_ly_c"
        role="tab"
        aria-controls="nhom_duoc_ly_c"
        aria-selected="false"
        >3. Theo Nhóm Dược Lý</a
      >
      <a
        class="nav-link"
        id="nhom_hoa_duoc"
        data-mdb-toggle="tab"
        href="#nhom_hoa_duoc_c"
        role="tab"
        aria-controls="nhom_hoa_duoc_c"
        aria-selected="false"
        >4. Theo Nhóm Hoá Dược</a
      >
      <a
        class="nav-link"
        id="su_dung"
        data-mdb-toggle="tab"
        href="#su_dung_c"
        role="tab"
        aria-controls="su_dung_c"
        aria-selected="false"
        >5. Sử dụng/Kế hoạch</a
      >
      <a
        class="nav-link"
        id="con_lai"
        data-mdb-toggle="tab"
        href="#con_lai_c"
        role="tab"
        aria-controls="con_lai_c"
        aria-selected="false"
        >6. Còn lại/Kế hoạch</a
      >
      <a
        class="nav-link"
        id="ton_nho"
        data-mdb-toggle="tab"
        href="#ton_nho_c"
        role="tab"
        aria-controls="ton_nho_c"
        aria-selected="false"
        >7. Tồn lẻ < 10%</a
      >
      <a
        class="nav-link"
        id="ton_lon"
        data-mdb-toggle="tab"
        href="#ton_lon_c"
        role="tab"
        aria-controls="ton_lon_c"
        aria-selected="false"
        >8. Tồn lẻ > 10%</a
      >
      <a
        class="nav-link"
        id="thang"
        data-mdb-toggle="tab"
        href="#thang_c"
        role="tab"
        aria-controls="thang_c"
        aria-selected="false"
        >9. Theo Tháng</a
      >
    </div>
    <!-- Tab navs -->
  </div>

  <div class="col-10">
    <!-- Tab content -->
    <div class="tab-content" id="v-tabs-tabContent">
      <div
        class="tab-pane fade show active"
        id="nhap_lieu_c"
        role="tabpanel"
        aria-labelledby="nhap_lieu"
      >
          <div class="accordion accordion-borderless" id="accordionFlushExampleX">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOneX">
                  <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#flush-collapseOneX" aria-expanded="true" aria-controls="flush-collapseOneX">
                    <strong>#1 Theo Thư mục</strong>
                  </button>
                </h2>
                <div id="flush-collapseOneX" class="accordion-collapse collapse show"
                  aria-labelledby="flush-headingOneX" data-mdb-parent="#accordionFlushExampleX">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col">
                          <h6>Chọn thư mục Kho Chẵn:</h6>
                          <input type="file" id="directoryKhoChan" webkitdirectory directory multiple hidden>
                          <input type="text" style="width: 300px; margin-right: 20px" disabled>
                          <button class="btn btn-secondary btn-sm" onclick="chonThuMucKhoChan()">Chọn thư mục</button>
                          <ul id="listingKhoChan"></ul>
                      </div>
                      <div class="col">
                          <h6>Chọn thư mục Kho Lẻ:</h6>
                          <input type="file" id="directoryKhoLe" webkitdirectory directory multiple hidden>
                          <input type="text" style="width: 300px; margin-right: 20px" disabled>
                          <button class="btn btn-secondary btn-sm" onclick="chonThuMucKhoLe()">Chọn thư mục</button>
                          <ul id="listingKhoLe"></ul>
                      </div>
                    </div>
                    <button class="btn btn-success btn-sm mt-3" style="margin-right: 10px" onclick="theodoicungung2(this)">Cập nhật</button>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwoX">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#flush-collapseTwoX" aria-expanded="false" aria-controls="flush-collapseTwoX">
                    <strong>#2 Theo File Excel</strong>
                  </button>
                </h2>
                <div id="flush-collapseTwoX" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoX"
                  data-mdb-parent="#accordionFlushExampleX">
                  <div class="accordion-body">
                      <div>
                          <h6>Nhập dữ liệu Nhập Xuất Tồn:</h6>
                          <table>
                              <tr>
                                  <td style="padding-right: 10px"><input type="month" lang="vi-VN" id="month"></td>
                                  <td>
                                      <input type="file" id="inputFile" hidden>
                                      <input type="text" style="width: 500px; margin-right: 20px" id="showFileName" disabled>
                                      <button class="btn btn-secondary btn-sm" onclick="selectExcel()">Chọn file excel</button>
                                  </td>
                              </tr>
                          </table>
                      </div>
                      <button class="btn btn-success btn-sm mt-4" style="margin-right: 10px" onclick="theodoicungung(this)">Cập nhật</button>
                      <div id="alert_warning" class="mt-4 p-3" style="display: none; max-height: 400px; overflow: auto; background: #F1F0E8">
                      </div>
                      <div style="max-height: 400px; overflow: auto" class="mt-4">
                        <h6>Lịch sử Import dữ liệu</h6>
                        <table class="table align-middle mb-0 bg-white table-sm">
                            <thead class="bg-light">
                                <tr>
                                    <th>STT</th>
                                    <th>File</th>
                                    <th>Tháng</th>
                                    <th>Thời gian import</th>
                                    <th></th>
                                    <th style="display: none">ID</th>
                                </tr>
                            </thead>
                            <tbody id="tableLichSu">
                                {% for i in import_history %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.month }}</td>
                                    <td>{{ i.time }}</td>
                                    <td>
                                        <button type="button" class="btn btn-link btn-sm btn-rounded text-danger" onclick="xoaDuLieuImport({{ i.id }})">Xoá</button>
                                    </td>
                                    <td style="display: none">{{ i.id }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </div>
           </div>
          <div class="mt-5 text-decoration-underline">
              <a href="https://app.powerbi.com/links/mNhyyiNab_?ctid=eab3c8f8-7488-460f-a2b4-412eaddea8bf&pbi_source=linkShare" target="_blank">Xem báo cáo trên Power BI</a>
          </div>
      </div>
      <div
        class="tab-pane fade"
        id="thuoc_c"
        role="tabpanel"
        aria-labelledby="thuoc"
      >
        <div class="row">
            <div class="col-2"><h6>Thuốc: </h6></div>
            <div class="col-10">
                <select style="width: 100%" class="form-select select2" name="" id="selectThuocCungUng"></select>
            </div>
        </div>
        <div class="row mt-3" style="margin-left: 20px">
            <ul>
                <li>Tổng kế hoạch: <b><span id="tongKeHoach"></span></b></li>
                <li>Đã sử dụng: <b><span id="daSuDung"></span></b></li>
                <li>Số lần dự trù còn lại: <b><span id="soLanDuTru"></span></b></li>
            </ul>
        </div>
        <div class="row">
            <div style="max-height: 450px; overflow: auto">
                <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                    <thead class="bg-light">
                        <tr>
                            <th>Ngày nhập kho chẵn</th>
                            <th>Nhập kho chẵn</th>
                            <th>Tồn kho lẻ</th>
                            <th>Trung bình nhập chẵn</th>
                            <th>Dự trù còn lại</th>
                        </tr>
                    </thead>
                    <tbody id="tableThuoc"></tbody>
                </table>
            </div>
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div style="width: 1000px; height: 500px">
                    <canvas style="box-sizing: border-box;" id="canvas_thuoc"></canvas>
                </div>
            </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nhom_thau_c"
        role="tabpanel"
        aria-labelledby="nhom_thau"
      >
        <div class="row">
            <div class="col-2"><h6>Hoạt chất: </h6></div>
            <div class="col-10">
                <select style="width: 100%" class="form-select select2" name="" id="selectHoatChatCungUng"></select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">Hàm lượng</div>
            <div class="col-2"><select class="form-select select2" id="ham_luong1" onchange="select(1)"></select></div>
            <div class="col-2">Đường dùng</div>
            <div class="col-2"><select class="form-select select2" id="duong_dung1" onchange="select(1)"></select></div>
            <div class="col-2">Dạng bào chế</div>
            <div class="col-2"><select class="form-select select2" id="dang_bao_che1" onchange="select(1)"></select></div>
        </div>
        <div class="row mt-3">
            <div style="max-height: 450px; overflow: auto">
                <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                    <thead class="bg-light">
                        <tr>
                            <th>STT</th>
                            <th>Ngày trúng thầu</th>
                            <th>Nhóm thầu</th>
                            <th>Thuốc</th>
                            <th>Hoạt chất</th>
                            <th>Hàm lượng</th>
                            <th>Đường dùng</th>
                            <th>Dạng bào chế</th>
                            <th>Tổng kế hoạch</th>
                            <th>Đã sử dụng</th>
                            <th>%Sử dụng</th>
                            <th>Còn lại</th>
                            <th>%Còn lại</th>
                            <th>Trung bình nhập chẵn</th>
                            <th>Số lần dự trù còn lại</th>
                        </tr>
                    </thead>
                    <tbody id="tableNhomThau"></tbody>
                </table>
            </div>
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div style="width: 1000px; height: 500px; display: none">
                    <canvas style="box-sizing: border-box;" id="canvas_nhomthau"></canvas>
                </div>
            </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nhom_duoc_ly_c"
        role="tabpanel"
        aria-labelledby="nhom_duoc_ly"
      >
        <div class="row">
              <div class="col-2"><h6>Nhóm Dược lý: </h6></div>
              <div class="col-10">
                  <select style="width: 100%" class="form-select select2" name="" id="selectNhomDuocLyCungUng"></select>
              </div>
          </div>
        <div class="row mt-3">
            <div class="col-2">Hàm lượng</div>
            <div class="col-2"><select class="form-select select2" id="ham_luong2" onchange="select(2)"></select></div>
            <div class="col-2">Đường dùng</div>
            <div class="col-2"><select class="form-select select2" id="duong_dung2" onchange="select(2)"></select></div>
            <div class="col-2">Dạng bào chế</div>
            <div class="col-2"><select class="form-select select2" id="dang_bao_che2" onchange="select(2)"></select></div>
        </div>
          <div class="row mt-3">
              <div style="max-height: 450px; overflow: auto">
                  <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                      <thead class="bg-light">
                          <tr>
                              <th>STT</th>
                              <th>Ngày trúng thầu</th>
                              <th>Nhóm thầu</th>
                              <th>Thuốc</th>
                              <th>Hoạt chất</th>
                                <th>Hàm lượng</th>
                                <th>Đường dùng</th>
                                <th>Dạng bào chế</th>
                              <th>Tổng kế hoạch</th>
                              <th>Đã sử dụng</th>
                              <th>%Sử dụng</th>
                              <th>Còn lại</th>
                              <th>%Còn lại</th>
                              <th>Trung bình nhập chẵn</th>
                              <th>Số lần dự trù còn lại</th>
                          </tr>
                      </thead>
                      <tbody id="tableDuocLy"></tbody>
                  </table>
              </div>
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div style="width: 1000px; height: 500px; display: none">
                    <canvas style="box-sizing: border-box;" id="canvas_nhomduocly"></canvas>
                </div>
            </div>
          </div>
      </div>
      <div
        class="tab-pane fade"
        id="nhom_hoa_duoc_c"
        role="tabpanel"
        aria-labelledby="nhom_hoa_duoc"
      >
        <div class="row">
            <div class="col-2"><h6>Nhóm Hóa dược: </h6></div>
            <div class="col-10">
                <select style="width: 100%" class="form-select select2" name="" id="selectNhomHoaDuocCungUng"></select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">Hàm lượng</div>
            <div class="col-2"><select class="form-select select2" id="ham_luong3" onchange="select(3)"></select></div>
            <div class="col-2">Đường dùng</div>
            <div class="col-2"><select class="form-select select2" id="duong_dung3" onchange="select(3)"></select></div>
            <div class="col-2">Dạng bào chế</div>
            <div class="col-2"><select class="form-select select2" id="dang_bao_che3" onchange="select(3)"></select></div>
        </div>
        <div class="row mt-3">
            <div style="max-height: 450px; overflow: auto">
                <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                    <thead class="bg-light">
                        <tr>
                            <th>STT</th>
                            <th>Ngày trúng thầu</th>
                            <th>Nhóm thầu</th>
                            <th>Thuốc</th>
                            <th>Hoạt chất</th>
                            <th>Hàm lượng</th>
                            <th>Đường dùng</th>
                            <th>Dạng bào chế</th>
                            <th>Tổng kế hoạch</th>
                            <th>Đã sử dụng</th>
                            <th>%Sử dụng</th>
                            <th>Còn lại</th>
                            <th>%Còn lại</th>
                            <th>Trung bình nhập chẵn</th>
                            <th>Số lần dự trù còn lại</th>
                        </tr>
                    </thead>
                    <tbody id="tableHoaDuoc"></tbody>
                </table>
            </div>
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div style="width: 1000px; height: 500px; display: none">
                    <canvas style="box-sizing: border-box;" id="canvas_nhomhoaduoc"></canvas>
                </div>
            </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="su_dung_c"
        role="tabpanel"
        aria-labelledby="su_dung"
      >
        <ul>
            <li><h6>Sử dụng/Kế hoạch < <input id="inputSuDung" type="number" placeholder="10" value="10"> %</h6></li>
        </ul>
        <div style="max-height: 450px; overflow: auto">
            <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                <thead class="bg-light">
                    <tr>
                        <th>Ngày trúng thầu</th>
                        <th>Thuốc</th>
                        <th>Hoạt chất</th>
                        <th>Hàm lượng</th>
                        <th>Đường dùng</th>
                        <th>Dạng bào chế</th>
                        <th>Nhóm thầu</th>
                        <th>Nhóm Dược lý</th>
                        <th>Nhóm Hóa dược</th>
                        <th>Tổng kế hoạch</th>
                        <th>Đã sử dụng</th>
                        <th>%Sử dụng</th>
                        <th>Còn lại</th>
                        <th>%Còn lại</th>
                    </tr>
                </thead>
                <tbody id="tableSuDung"></tbody>
            </table>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="con_lai_c"
        role="tabpanel"
        aria-labelledby="con_lai"
      >
        <ul>
              <li><h6>Còn lại/Kế hoạch < <input id="inputConLai" type="number" placeholder="10" value="10"> %</h6></li>
          </ul>
          <div style="max-height: 450px; overflow: auto">
              <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                  <thead class="bg-light">
                      <tr>
                          <th>Ngày trúng thầu</th>
                          <th>Thuốc</th>
                          <th>Hoạt chất</th>
                            <th>Hàm lượng</th>
                            <th>Đường dùng</th>
                            <th>Dạng bào chế</th>
                          <th>Nhóm thầu</th>
                          <th>Nhóm Dược lý</th>
                          <th>Nhóm Hóa dược</th>
                          <th>Tổng kế hoạch</th>
                          <th>Đã sử dụng</th>
                          <th>%Sử dụng</th>
                          <th>Còn lại</th>
                          <th>%Còn lại</th>
                      </tr>
                  </thead>
                  <tbody id="tableConLai"></tbody>
              </table>
          </div>
      </div>
      <div
        class="tab-pane fade"
        id="ton_nho_c"
        role="tabpanel"
        aria-labelledby="ton_nho"
      >
        <ul>
              <li><h6>Tồn lẻ < <input id="inputTonLe" type="number" placeholder="10" value="10"> %</h6></li>
          </ul>
          <div style="max-height: 450px; overflow: auto">
              <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                  <thead class="bg-light">
                      <tr>
                          <th>Ngày trúng thầu</th>
                          <th>Thuốc</th>
                          <th>Hoạt chất</th>
                            <th>Hàm lượng</th>
                            <th>Đường dùng</th>
                            <th>Dạng bào chế</th>
                          <th>Nhóm thầu</th>
                          <th>Nhóm Dược lý</th>
                          <th>Nhóm Hóa dược</th>
                          <th>Tồn Chẵn</th>
                          <th>Nhập Lẻ</th>
                          <th>Tồn Lẻ</th>
                          <th>%Tồn/Nhập</th>
                      </tr>
                  </thead>
                  <tbody id="tableTonLe"></tbody>
              </table>
          </div>
      </div>
      <div
        class="tab-pane fade"
        id="ton_lon_c"
        role="tabpanel"
        aria-labelledby="ton_lon"
      >
        <ul>
            <li><h6> Tồn lẻ > <input id="inputTonLeLon" type="number" placeholder="10" value="10"> %</h6></li>
        </ul>
        <div style="max-height: 450px; overflow: auto">
            <table class="table align-middle mb-0 bg-white table-sm table-hover table-bordered">
                <thead class="bg-light">
                    <tr>
                        <th>Ngày trúng thầu</th>
                        <th>Thuốc</th>
                        <th>Hoạt chất</th>
                        <th>Hàm lượng</th>
                        <th>Đường dùng</th>
                        <th>Dạng bào chế</th>
                        <th>Nhóm thầu</th>
                        <th>Nhóm Dược lý</th>
                        <th>Nhóm Hóa dược</th>
                        <th>Tồn Chẵn</th>
                        <th>Nhập Lẻ</th>
                        <th>Tồn Lẻ</th>
                        <th>%Tồn/Nhập</th>
                    </tr>
                </thead>
                <tbody id="tableTonLeLon"></tbody>
            </table>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="thang_c"
        role="tabpanel"
        aria-labelledby="thang"
      >
        <h6><input type="checkbox" id="checkSuDung" style="margin-right: 5px">Sử dụng hết trong: <input id="limitMonth" type="number" placeholder="12" value="6" min="1" max="12" step="1"> tháng</h6>
        <div style="height: 600px;" class="ag-theme-alpine mb-5" id="gridDivTheoThang">
        </div>
      </div>
    </div>
    <!-- Tab content -->
  </div>
</div>
<script src="/static/cung_ung.js"></script>
{% endblock %}