{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-row" style="margin-left: 20px;">
    <div class="select-time">
        <h6>Chọn khoảng thời gian:</h6>
    </div>
    <div class="select-time d-flex flex-row">
        <input type="date" id="date_from">
        <h6 style="padding: 0 10px">-</h6>
        <input type="date" id="date_to">
    </div>
    <div class="select-time">
        <button class="btn btn-secondary btn-sm" style="width: 100px" onclick="select_date()">
            <i class="fas fa-magnifying-glass"></i></button>
    </div>
</div>
<div class="row mt-1 mb-2">
    <div class="col-4 d-flex flex-row">
        <h6 style="margin: 0 20px">Hoạt chất:</h6>
        <div style="width: 300px">
            <select style="width: 100%" class="form-select select2" name="selectHoatChatXDDM" id="selectHoatChatXDDM-0"></select>
        </div>
    </div>
    <div class="col-4 d-flex flex-row">
        <div class="form-check" style="margin-right: 20px">
            <input class="form-check-input" type="checkbox" name="" id="checkNHD">
            <label class="form-check-label" for="checkNHD">Nhóm hoá dược</label>
        </div>
        <div style="width: 300px">
            <select style="width: 100%" class="form-select select2" name="selectNhomHoaDuocXDDM" id="selectNhomHoaDuocXDDM"></select>
        </div>
    </div>
    <div class="col-4 d-flex flex-row">
        <div class="form-check" style="margin-right: 20px">
            <input class="form-check-input" type="checkbox" name="" id="checkNDL">
            <label class="form-check-label" for="checkNDL">Nhóm dược lý</label>
        </div>
        <div style="width: 300px">
            <select style="width: 100%" class="form-select select2" name="selectNhomDuocLyXDDM" id="selectNhomDuocLyXDDM"></select>
        </div>
    </div>
</div>
<div style="margin-left: 20px; margin-right: 20px">
    <div style="height: 400px;" class="ag-theme-alpine" id="gridXayDungDanhMuc"></div>
</div>
<div class="container">
    <div class="row mt-2">
        <div>
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th style="width: 100px"></th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">%</th>
                    <th class="text-center">Thành tiền</th>
                    <th class="text-center">%</th>
                    <th class="completed text-center" colspan="2">Số lượng</th>
                    <th class="completed text-center">%</th>
                    <th class="completed text-center" colspan="2">Thành tiền</th>
                    <th class="completed text-center">%</th>
                </tr>
                </thead>
                <tbody id="tableBDG"></tbody>
            </table>
        </div>
        <div class="row chart-xddm" style="visibility: hidden">
            <div class="col-6">
                <div style="width: 100%;"><canvas id="bg_soluong"></canvas></div>
            </div>
            <div class="col-6">
                <div style="width: 100%;"><canvas id="bg_phantram"></canvas></div>
            </div>
        </div>
</div>
    <div class="row mt-2">
        <div>
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th style="width: 100px"></th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">%</th>
                    <th class="text-center">Thành tiền</th>
                    <th class="text-center">%</th>
                    <th class="completed text-center" colspan="2">Số lượng</th>
                    <th class="completed text-center">%</th>
                    <th class="completed text-center" colspan="2">Thành tiền</th>
                    <th class="completed text-center">%</th>
                </tr>
                </thead>
                <tbody id="tableGeneric"></tbody>
            </table>
        </div>
        <div class="row chart-xddm" style="visibility: hidden">
            <div class="col-6">
                <div style="width: 100%;"><canvas id="nt_soluong"></canvas></div>
            </div>
            <div class="col-6">
                <div style="width: 100%;"><canvas id="nt_phantram"></canvas></div>
            </div>
        </div>
</div>
</div>
<script src="/static/xay_dung_danh_muc.js"></script>
{% endblock %}